$button-color: rgb(0, 157, 168);

.button {
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  background: white;
  height: 60px;

  .nav-bar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .logo-area {
      padding: 20px;
      font-weight: 700;
    }
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;

    li {
      padding: 20px;

      a {
        text-decoration: none;
        color: grey;
        font-size: 14px;
      }
    }
  }

  .nav-cta {
    margin-left: 20px;
    .find-button {
      @extend .button;
      font-size: 12px;
      box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
    }
  }
}

.big-header {
  .header-image {
    width: 100%;
    height: 70vh;
    background-image: url(../media//group.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    clip-path: ellipse(100% 60% at 50% 40%);

    .header-content {
      margin-top: 30px;
      width: 50%;
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 700;
        color: #FFCF56;
        background: rgba(0, 0, 0, 0.188);
      }

      .mobile-icons {
        justify-content: space-evenly;

        a {
          padding: 20 10px;
          width: 100px;
          height: 60px;

          &:hover {
            background: rgba(0, 157, 168, 0.12);
          }
        }
      }
    }
  }
}

.filter {
  margin-top: -50px;
  position: relative;
  width: 100%;

  .search-area {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;

    .search-container {
      background: white;
      height: 70px;
      display: flex;
      padding: 22px 20px;
      border: none;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
    }
  }

  .border-style {
    border-right: 1px solid silver;
  }

  .search-item {
    padding: 0 20px;
  }

  .search-btn {
    height: 70px;
    border: 0;
  }

  .click-btn {
    height: 100%;
    width: 120px;
    border: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
  }

  select {
    background: transparent;
    border: 0;
    line-height: 70px;
    font-size: 14px;
    color: grey;
  }
}

.full-area {
  height: 100vh;
  margin-bottom: 20px;
}

.works {
  background: rgb(244, 252, 254);
  height: 70vh;
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: center;

  .works-area {
    margin-top: 150px;
    text-align: center;
    width: 80%;

    p {
      font-size: 12px;
      color: gray;
    }
  }

  .works-cards {
    height: 60vh;

    .box {
      background: white;
      border-radius: 10px;
      max-height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 40px;
      // box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
      box-shadow: 2px 8px 15px  lightgray;

      h4 {
        margin: 20px 10px;
        font-size: 20px;
      }

      &.box2 {
        margin-top: 50px;
        height: 50vh;
      }
    }

    .works-logo {
      margin-top: 30px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.rooms {
        background: rgb(253, 221, 222);
      }

      &.location {
        background: rgb(177, 234, 248);
      }

      &.pick {
        background: rgb(250, 205, 147);
      }
    }
  }
}

.information {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.booking-system {
  background: url("../media/group.jpg") no-repeat;
  background-size: cover;
  // height: 100%;
}

.booking-note {
  margin-left: 20px;
  padding-left: 60px;
  p {
    font-size: 14px;
    color: grey;
  }

  .bsb {
    @extend .button;
    font-size: 10px;
  }
}

.join {
  background:rgb(255, 238, 239);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // border-radius: 50%/90px 90px 0 0;
  clip-path: ellipse(100% 60% at 50% 40%);

  p {
    font-size: 14px;
  }
}
