$button-color: rgb(0, 157, 168);

.button {
  border-radius: 50px 50px 50px 50px;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  background: white;
  height: 60px;

  .nav-bar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .logo-area {
      padding: 20px;
      font-weight: 700;
    }
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;

    li {
      padding: 20px;

      a {
        text-decoration: none;
        color: grey;
        font-size: 14px;
      }
    }
  }

  .nav-cta {
    margin-left: 20px;
    .find-button {
      @extend .button;
      font-size: 12px;
      box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
    }
  }
}

.big-header {
  .header-image {
    width: 100%;
    height: 70vh;
    background-image: url(../media//group.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    clip-path: ellipse(100% 60% at 50% 40%);

    .header-content {
      margin-top: 30px;
      width: 50%;
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 700;
        color: #FFCF56;
        background: rgba(0, 0, 0, 0.188);
      }

      .mobile-icons {
        justify-content: space-evenly;

        a {
          padding: 20 10px;
          width: 100px;
          height: 60px;

          &:hover {
            background: rgba(0, 157, 168, 0.12);
          } 
        }
      }
    }
  }  
}

.filter {
  margin-top: -50px;
  position: absolute;
  width: 100%;

  .search-area {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;

    .search-container {
      background: white;
      height: 70px;
      display: flex;
      padding: 22px 20px;
      border: none;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
    }
  }

  .border-style {
    border-right: 1px solid silver;
  }

  .search-item {
    padding: 0 20px;
  }

  .search-btn {
    height: 70px;
    border: 0;
  }

  .click-btn {
    height: 100%;
    width: 120px;
    border: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 8px 15px  rgba(0, 157, 168, 0.29);
  }

  select {
    background: transparent;
    border: 0;
    line-height: 70px;
    font-size: 14px;
    color: grey;
  }
}